main {
  width:600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0px;
}

app-square {
  border: 1px solid gray;

  ::ng-deep {

    button {
      width:100%;
      height:100%;

      p {
        font-size:5rem;
        font-weight:700;
      }
    }

  }

}


